name: Markdown Lint

on:
  pull_request:
    paths:
      - "**.md"
  push:
    branches:
      - main
    paths:
      - "**.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint Markdown Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Run markdownlint
        uses: articulate/actions-markdownlint@ab2cefb7bda6ac43ba087d46988b36e18bd57bfd # v1
        with:
          config: .markdownlint.json
          files: "**/*.md"
          ignore: node_modules
