name: Markdown Lint

on:
  pull_request:
    paths:
      - "**.md"
  push:
    branches:
      - main
    paths:
      - "**.md"

jobs:
  lint:
    name: Lint Markdown Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run markdownlint
        uses: articulate/actions-markdownlint@v1
        with:
          config: .markdownlint.json
          files: "**/*.md"
          ignore: node_modules
